<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>没有这个用户，请重试！！！</h1>
</body>
<script type="text/javascript">
	function jumurl(){
        window.location.href = '/';
    }
    setTimeout(jumurl,1000);
</script>

</html>